%h1= "Editing Shutter Configuration"
= error_messages_for :shutter_config

- form_for @shutter_config, :url => seller_shutter_config_path(@shutter_config), :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= submit_tag 'Update shutter config'
