%h1= "Editing Shutter Configuration"
= error_messages_for :shutter_config

- form_for([@order, @shutter_config], :url => seller_order_shutter_config_path(@order, @shutter_config)) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= submit_tag 'Update shutter config'
