%h1 Listing Available Materials

%p
  There are many available products and materials for you too choose, while making
  some window configuration, here you can see some of those.

%ul
  %li
    = link_to "Various Features", window_features_path
  %li
    = link_to "Glass Types", glass_types_path
  %li
    = link_to "Additional Features", additional_features_path