table.main
{
    width:100%;
}
td.title
{
    text-align:center;
}
td.menu
{
    width:30%;
}
a
{
    color:red;
    font-weight:bold;
    text-decoration:none;
}
a:hover
{
    color:blue;
}

a.menu
{
    color:green;
    font-weight:bold;
    text-decoration:none;
}