%tr
  %td
    = h short_window_feature.name
  %td
    = h short_window_feature.description
  %td
    = h short_window_feature.type
  %td
    = link_to 'Details', window_feature_path(short_window_feature)
