%h1 Listing Window Configurations
%p
  = link_to 'Create new Windows Configuration', new_seller_window_config_path
  |
  = link_to 'Back to Panel', seller_root_path
%hr
%hr
%br
= render :partial => 'window_config', :collection => @window_configs
