%h1 Listing Orders
%hr
%h2 My Orders
%p
  = render :partial  => 'order', :collection => @curent_user_orders
%hr
%h2 Requested Orders
%p
  = render :partial  => 'order', :collection => @requested_orders