%h1 Creating new shutter type

= error_messages_for :shutter_type

- form_for :shutter_type, :url => admin_shutter_types_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  = submit_tag 'Create'
