%h1 User Profile
%p
  %strong Login:
  =h @user.login
%p
  %strong E-mail:
  =h @user.email
%p
  %strong Address:
  =h @user.address
%p
  %strong Phone Number:
  =h @user.phone_no
%p
  %strong Type:
  =h @user.type