%h1
  Profile of
  =h @customer.name
%p
  %strong Name:
  =h @customer.name
%p
  %strong Login:
  =h @customer.login
%p
  %strong E-mail:
  =h @customer.email
%p
  %strong Address:
  =h @customer.address
%p
  %strong Phone Number:
  =h @customer.phone_no

= link_to "Edit", edit_customer_path(@customer)