%h1 Listing glass types

- form_tag glass_types_path, :method=>'get' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag :search, :name => nil


%table
  %th Name
  %th Description
  = render :partial => 'short_glass_type', :collection => @short_glass_types

%p
  = link_to "Back to Materials Page", materials_path