%p
  %strong Glass Type:
  = h window_config.glass_type.name
%p
  %strong Handle Type:
  = h window_config.handle_type.name
%p
  %strong Sash number:
  = h window_config.sash_structure.sashes_number
%p
  %strong Structure:
  = h window_config.sash_structure.structure.name
