%h1= "Editing Window Configuration"
= error_messages_for :window_config

- form_for @window_config, :url => admin_window_config_path(@window_config), :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= submit_tag 'Update'
