%p
  %strong Login
  =h user.login
%p
  %strong E-mail
  = mail_to user.email
%p
  %strong Phone number
  =h user.phone_no
%p
  %strong Address
  =h user.address
%p
  %strong Type
  =h user.type
%p
  %strong Description
  =h user.description
