%p
  %strong Name
  = h call_status.name
%p
  %strong Description
  = h call_status.description
%p
  = link_to 'Edit', edit_admin_call_status_path(call_status)
  |
  = link_to 'Destroy', admin_call_status_path(call_status), :confirm => 'Are you sure?', :method => :delete