%h1 Creating new call status

= error_messages_for :call_status

- form_for :call_status, :url => admin_call_statuses_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  = submit_tag 'Create'
