!!!
%html
  %head
    %title DalDosso Windows Selling System
  %body
    - unless flash[:error].nil?
      = flash[:error]
    - unless flash[:notice].nil?
      = flash[:notice]
    #content
      = yield
