!!!
%html
  %head
    %title Dal Dosso Company
    = stylesheet_link_tag 'application'
  %body
    - unless flash[:error].nil?
      = flash[:error]
    - unless flash[:notice].nil?
      = flash[:notice]
    #content
      = yield
