%html
  %head
    %title Dal Dosso Company
    %link{:rel=>"stylesheet",:type=>"text/css",:href=>"stylesheets/style.css"}
  %body
    %table.main
      %tr
        %td.title{:colspan=>2}
          %h1 Welcome
      %tr
        %td{:width=>"30%"}
          %h4= "::MENU::"
          = render :partial => "menu"
        %td
          = yield
        